<ul class="list-group">
    <li (click)="makeAllColorsActive()" [class]="getAllColorClass()" routerLink="/cars" >All Colors</li>
    <li
      (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{ color.id }}"
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
    >
      {{ color.name }}
    </li>
  </ul>

  <form [formGroup]="colorForm" (ngSubmit)="submit()">
    <select formControlName="color" class="form-select" aria-label="Default select example">
      <option [ngValue]="null">Select Color</option>
      <option *ngFor="let color of colors" [ngValue]="color.id">{{color.name}}</option>
    </select>
    <button type="submit">Submit</button>
  </form>

