<!-- <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tr *ngFor="let color of colors">
      <td>{{ color.name }}</td>
    </tr>
  </table> -->

  <ul class="list-group">
    <li (click)="makeAllColorsActive()" [class]="getAllColorClass()" routerLink="/cars" >All Colors</li>
    <li
      (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{ color.id }}"
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
    >
      {{ color.name }}
    </li>
  </ul>
  