<!-- <footer class="bg-light text-center text-lg-start fixed-bottom">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://twitter.com/icecrxstals">Volkan Ülker</a>
    </div>

  </footer> -->



  <body class="d-flex flex-column">
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>&copy; 2022 Copyright:  Volkan Ülker</small>
      </div>
    </footer>
  </body>