<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-car-filter></app-car-filter>
    </div>
    <div class="col-md-9">
      <div class="mb-3">
        <label for="filterText" class="form-label">Search Cars</label>
        <input
          type="text"
          [(ngModel)]="filterText"
          class="form-control"
          id="filterText"
          placeholder="Type Car Model"
        />
      </div>

      <div class="row">
        <div *ngFor="let carCard of carCards | filterCarCards: filterText" class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://localhost:44365/uploads/images/{{ carCard.imagePath }}"
            alt="Card image cap"
          />

          <div class="card-body">
            <h3 class="card-title">
              {{ carCard.brandName }} {{ carCard.model }}
            </h3>
            <h4>Features</h4>
            <hr />
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <fa-icon [icon]="faGasPump"></fa-icon>
                  </div>
                  <div class="col-md-6">
                    <h5>
                      <b>{{ carCard.fuelName }}</b>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <fa-icon [icon]="faCogs"></fa-icon>
                  </div>
                  <div class="col-md-8">
                    <h5>
                      <b>{{ carCard.transmissionName }}</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <fa-icon [icon]="faUsers"></fa-icon>
                  </div>
                  <div class="col-md-6">
                    <h5>
                      <b>{{ carCard.numberOfSeats }}</b>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <fa-icon [icon]="faLiraSign"></fa-icon>
                  </div>
                  <div class="col-md-6">
                    <h5>
                      <b>{{ carCard.dailyPrice }}</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button
              (click)="setCurrentCar(carCard)"
              routerLink="/cars/cardetail/{{ carCard.id }}"
              class="btn btn-warning"
              type="button"
            >
              Details
            </button>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
