<div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Cart
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{cartItems.length}}
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let cartItem of cartItems" ><a class="dropdown-item">{{cartItem.carDetails.model}}</a></li>
      <li><hr class="dropdown-divider"></li>
      <!-- <li><a class="dropdown-item">Go To Cart</a></li> -->
    </ul>
  </div>